openapi: 3.0.3
info:
  title: The SSS Platform API Gateway
  description: Serves as the single entry point for all client requests and public API consumers. Handles routing, authentication, authorization, rate limiting, and more.
  version: v1.0.0
  contact:
    name: API Support
    url: https://thesss.platform/support
    email: api-support@thesss.platform.com
servers:
  - url: https://api.thesss.platform.com
    description: Production API Server
  - url: http://localhost:8080 # Assuming gateway runs on 8080 locally
    description: Local Development Server

components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API Key for application-level authentication.
    oauth2Auth:
      type: oauth2
      description: OAuth2 JWT Bearer token for user or service authentication.
      flows:
        clientCredentials: # For M2M communication
          tokenUrl: /auth/realms/thesss-platform/protocol/openid-connect/token # Example token URL
          scopes:
            internal_service: Access internal service resources
        authorizationCode: # For user-delegated access
          authorizationUrl: /auth/realms/thesss-platform/protocol/openid-connect/auth # Example auth URL
          tokenUrl: /auth/realms/thesss-platform/protocol/openid-connect/token # Example token URL
          scopes:
            farmer_data:read: Read farmer specific data
            farmer_data:write: Modify farmer specific data
            profile:read: Read user profile

  schemas:
    ApiErrorResponse:
      type: object
      properties:
        timestamp:
          type: integer
          format: int64
          description: The time the error occurred in milliseconds since epoch.
        status:
          type: integer
          description: HTTP status code.
        error:
          type: string
          description: HTTP status error phrase (e.g., 'Not Found', 'Unauthorized').
        message:
          type: string
          description: A human-readable description of the error.
        path:
          type: string
          description: The path of the request that resulted in an error.
        errorCode:
          type: string
          description: A service-specific error code (optional).
          nullable: true
        details:
          type: array
          items:
            type: string
          description: A list of more specific error messages or validation failures (optional).
          nullable: true
      required:
        - timestamp
        - status
        - error
        - message
        - path

    # Placeholder schemas for request/response if needed for specific endpoints
    # Example:
    # StatisticsData:
    #   type: object
    #   properties:
    #     metricName:
    #       type: string
    #     value:
    #       type: number

paths:
  /api/v1/statistics/agricultural/**:
    get:
      summary: Access Agricultural Statistics
      description: Retrieve various agricultural statistics. The exact path and parameters depend on the statistics service.
      operationId: getAgriculturalStatistics
      tags:
        - Statistics
      security:
        - apiKeyAuth: []
        - oauth2Auth: [internal_service] # Example scope
      responses:
        '200':
          description: Successful retrieval of statistics.
          content:
            application/json:
              schema:
                type: object # Replace with actual response schema from statistics service
                example: {"data": "some statistics data"}
        '400':
          $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          $ref: '#/components/schemas/ApiErrorResponse'

  /api/v1/knowledge-base/**:
    get:
      summary: Access Knowledge Base Content
      description: Retrieve content from the knowledge base. The exact path and parameters depend on the query management service.
      operationId: getKnowledgeBaseContent
      tags:
        - Knowledge Base
      security:
        - apiKeyAuth: []
        - oauth2Auth: [profile:read] # Example scope
      responses:
        '200':
          description: Successful retrieval of knowledge base content.
          content:
            application/json:
              schema:
                type: object # Replace with actual response schema from query management service
                example: {"articleId": "123", "title": "Best practices for crop rotation"}
        '400':
          $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          $ref: '#/components/schemas/ApiErrorResponse'

  /api/v1/weather/**:
    get:
      summary: Access Weather Information
      description: Retrieve weather information. The exact path and parameters depend on the weather service.
      operationId: getWeatherInformation
      tags:
        - Weather
      security:
        - apiKeyAuth: []
        # OAuth2 might not be needed if it's public weather data, or could be for specific user location weather
        - oauth2Auth: [profile:read] # Example if user-specific weather
      responses:
        '200':
          description: Successful retrieval of weather information.
          content:
            application/json:
              schema:
                type: object # Replace with actual response schema from weather service
                example: {"temperature": "25C", "condition": "Sunny"}
        '400':
          $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          $ref: '#/components/schemas/ApiErrorResponse'

  /api/v1/farmer-data/{farmerId}/**: # Assuming a generic path structure beyond farmerId
    get:
      summary: Access Farmer Consented Data
      description: Retrieve specific data for a farmer, requiring explicit consent. The exact path and parameters depend on the farmer service.
      operationId: getFarmerConsentedData
      tags:
        - Farmer Data
      parameters:
        - name: farmerId
          in: path
          required: true
          description: The ID of the farmer.
          schema:
            type: string
            format: uuid # Or appropriate format
      security:
        - apiKeyAuth: [] # API Key of the consuming application
        - oauth2Auth: [farmer_data:read] # OAuth token with scope to read farmer data
      responses:
        '200':
          description: Successful retrieval of farmer consented data.
          content:
            application/json:
              schema:
                type: object # Replace with actual response schema from farmer service
                example: {"farmerDetails": "some data"}
        '400':
          $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          $ref: '#/components/schemas/ApiErrorResponse'

security:
  - apiKeyAuth: []
  - oauth2Auth: []