<configuration>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
        <queueSize>256</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </root>

    <logger name="com.thesss.platform.aggregators" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </logger>

    <logger name="org.springframework.kafka" level="WARN" additivity="false">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </logger>
    <logger name="org.apache.kafka" level="WARN" additivity="false">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </logger>
    <logger name="org.springframework.r2dbc" level="INFO" additivity="false">
         <appender-ref ref="ASYNC_CONSOLE"/>
    </logger>
    <logger name="io.r2dbc.postgresql" level="INFO" additivity="false">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </logger>

</configuration>